@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

/*use layout number 4, 8 (for recommendations)*/

:root{
--green-grad:linear-gradient( -135deg, #81FBB8 10%, #28C76F 100%); 
--red-grad:linear-gradient( 135deg, #F05F57 10%, #360940 100%);
/*--black-grad:linear-gradient(135deg, #5d6874 0%,#1c1c1c 100%);*/
--black-grad:linear-gradient(135deg, #575757 0%,#3d3d3d 100%);
--violet-grad:linear-gradient(135deg, #CE9FFC 0%,#5143e1 100%);
--white-grad:linear-gradient(to right, #d4d4d4, #f2f2f2);
}

/*__________my css mods_________________________________*/


.article{
   border: 1px solid #fff;
   margin:2em;
   background: #f1f3f6;
   border-radius: 20px;
   box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), 
   inset 0 0 20px rgba(255, 255, 255, 0), 
   7px 7px 15px rgba(55, 84, 170, .15), 
   -7px -7px 20px rgba(255, 255, 255, 1), 
   inset 0px 0px 4px rgba(255, 255, 255, .2);
background: #f1f3f6;




   transition: box-shadow 399ms ease-in-out;
}
 .article:hover {
   box-shadow: inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
}
 


.info-display {
  /*padding: 1em;*/
  margin:2em 1em;
  /*display: flex;*/
  /*justify-content: center;*/
  align-items: center;
/*  border:2px inset #000000;
  border-style: solid;*/
  /*border-width: thin;*/
  text-decoration: none;
  padding: 5px;
/*background: var(--white-grad);*/


border-radius: 25px;
background: linear-gradient(145deg, #ffffff, #d9dbdd);
box-shadow:  27px 27px 54px #cdcfd1, 
             -27px -27px 54px #ffffff;
}

.product-select {
  /*padding: 1em;*/
  margin:3em 1em;
  /*align-items: center;*/
/*  border:2px inset #000000;
  border-style:  solid;*/
  /*border-width: thin;*/
  text-decoration: none;
  
/*background: var(--white-grad);*/
border-radius: 25px;
background: #f1f3f6;
box-shadow:  7px 7px 14px #cdcfd1, 
             -7px -7px 14px #ffffff;

/*border-radius: 25px;
background: linear-gradient(145deg, #ffffff, #d9dbdd);
box-shadow:  27px 27px 54px #cdcfd1, 
             -27px -27px 54px #ffffff;*/
}

.instructions {
  padding: 1em;
  text-align: center;

}
.product-photos-side {
  position: relative;
  padding: 1em;
  /*align-items: center;*/
  width: 100%;
}

.product-photo-main {
  width: 100%;
  padding: 1em 1em;
  /*margin:2em 1em;*/
  /*align-items: center;*/
/*  border:2px inset #000000;
  border-style: solid;
  border-radius: 25px;*/

}

.product-select img{
    border-radius: 50px;
}


/*____________old css_______________________*/


*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0 auto;
  max-width: 50em;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
/*  font-weight: normal;
  font-style: normal;*/
  line-height: 1.5;
  padding: 0.5em 0.5em;
  /*color: var(--green-grad);*/

  /*background:linear-gradient(135deg, #c3ec52 0%,#0ba29d 100%);*/
/*background: linear-gradient(0deg, #FFF6B7, #F6416C );*/
  background-image: #f1f3f6;
/*  background-color: #f2f2f2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23f2f2f2' stroke-width='0.74' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(24.75) translate(-959.6 -719.7)'%3E%3Cuse fill='%23ededed' href='%23s' y='2'/%3E%3Cuse fill='%23ededed' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23e8e8e8' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23e8e8e8' href='%23s'/%3E%3Cuse fill='%23e3e3e3' href='%23s' x='2'/%3E%3Cuse fill='%23e3e3e3' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(24.75) translate(-959.6 -719.7)'%3E%3Cg fill='%23dfdfdf'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(24.75) translate(-959.6 -719.7)'%3E%3Cg fill='%23dfdfdf'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(24.75) translate(-959.6 -719.7)'%3E%3Cg fill='%23dadada'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(24.75) translate(-959.6 -719.7)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23d5d5d5'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(24.75) translate(-959.6 -719.7)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(24.75) translate(-959.6 -719.7)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(24.75) translate(-959.6 -719.7)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;*/
}

/*html {
  background-color: #FFF;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #444;
  background-attachment: fixed;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}*/

/*.container {
  margin: auto;
  padding: 25px 0;
  max-width: 1025px;
}*/
h1{
  font-size:2em;
}
h1, h2, h4, p{
  margin: 1em 1em;
  /*padding-top: 1em;*/
  background: var(--black-grad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1, h2,h4 {
  line-height: 1em;
}
.center {
  text-align: center;
}
h2.subtitle {
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


.swiper-container,
.swiper-container * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.swiper-container .swiper-no-swiping .swiper-button-prev,
.swiper-container .swiper-no-swiping .swiper-button-next {
  opacity: 0;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .1;
}

.product-gallery img {
  max-height: 100%;
  max-width: 100%;
}

.product-photos-side .swiper-slide img {
  max-height: 100%;
  max-width: 100%;
}

.product-gallery .product-photos-side .swiper-container {
  height: 50px;
/*  border-style: groove;
  border-width: thin;*/
}

.product-gallery .product-photo-main .swiper-container {
  height: 200px;
}

.product-gallery .product-photos-side .swiper-slide {
  width: 50px;
  opacity: .2;
  transition: 150ms opacity ease-in-out;
}

.product-gallery .product-photos-side .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.product-gallery .swiper-container {
  position: static;
  width: 100%;
}

.product-gallery .swiper-slide {
  cursor: pointer;
  text-align: center;
}



/*.tf-results {
  position: relative;
  height: 100%;
  float: right;
  width: 48%;
  padding: 20px;
}*/


@media (max-width: 1025px) {
  .container {
    padding: 0;
  }
}

